<div class="sec social-footer">
  <div class="wrap">
    <ul class="social-ul">
      <li class="social-li">
        <a href="#" title="Facebook" target="_blank" class="social-a">
          <img src="{% static '/images/facebook.png' %}" alt="Facebook" class="social-icon">
        </a>
      </li>
      <li class="social-li">
        <a href="#" title="Twitter" target="_blank" class="social-a">
          <img src="{% static '/images/twitter.png' %}" alt="Twitter" class="social-icon">
        </a>
      </li>
      <li class="social-li">
        <a href="#" title="Instagram" target="_blank" class="social-a">
          <img src="{% static '/images/instagram.png' %}" alt="Instagram" class="social-icon">
        </a>
      </li>
      <li class="social-li">
        <a href="#" title="Pinterest" target="_blank" class="social-a">
          <img src="{% static '/images/pinterest.png' %}" alt="Pinterest" class="social-icon">
        </a>
      </li>
      <li class="social-li">
        <a href="#" title="YouTube" target="_blank" class="social-a">
          <img src="{% static '/images/youtube.png' %}" alt="YouTube" class="social-icon">
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="sec footer-nav">
  <div class="wrap">
    <nav class="fnav">
      <ul class="fnav-ul">
        <li class="fnav-li">
          <a href="#" title="100% SATISFACTION GUARANTEE" target="_blank" class="fnav-a">100% SATISFACTION GUARANTEE</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="SHIPPING INFORMATION" target="_blank" class="fnav-a">SHIPPING INFORMATION</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="HELP" target="_blank" class="fnav-a">HELP</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="VIEW MOBILE SITE" target="_blank" class="fnav-a">VIEW MOBILE SITE</a>
        </li>
      </ul>
      <ul class="fnav-ul">
        <li class="fnav-li">
          <a href="#" title="CONTACT" target="_blank" class="fnav-a">CONTACT</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="FOR HEALTH &amp; NUTRITION PROFESSIONALS" target="_blank" class="fnav-a">FOR HEALTH &amp; NUTRITION PROFESSIONALS</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="CAREERS" target="_blank" class="fnav-a">CAREERS</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="SITEMAP" target="_blank" class="fnav-a">SITEMAP</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="PRIVACY POLICY" target="_blank" class="fnav-a">PRIVACY POLICY</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="SALES POLICY" target="_blank" class="fnav-a">SALES POLICY</a>
        </li>
        <li class="fnav-li">
          <a href="#" title="TERMS &amp; CONDITIONS TERMS OF USE" target="_blank" class="fnav-a">TERMS &amp; CONDITIONS TERMS OF USE</a>
        </li>
      </ul>
  </div>
</div>
