<form class="form">
  <div class="form-nav">
    <div class="form-step">
      <div class="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="46" viewBox="0 0 44 46"><path d="M31.489 31.91v9.152h-27V14.06h9v-9h15.264l2.998-2.998H11.989l-10.5 10.5v30c0 .827.672 1.5 1.5 1.5h30c.828 0 1.5-.673 1.5-1.5V28.91l-3 3z"/><path d="M42.61 12.305L36.246 5.94c-1.171-1.172-3.071-1.06-4.243.112L10.489 27.567v10.494h10.607L42.61 16.546c1.172-1.171 1.172-3.07 0-4.241M19.853 35.062h-2.818l-3.547-3.546-.001-2.819 17.016-17.015 2.122 2.121-14.599 14.6v2.121h2.121l14.599-14.599 2.122 2.121-17.015 17.016z"/></svg>
        <span>Step 1</span>
      </div>
      <div class="subtitle">Fill out order form</div>
    </div>
    <div class="form-step">
      <div class="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="46" viewBox="0 0 44 46"><path d="M19.218 17.202h9v-3h-9v3zm-12 15v3h12.085c-.054-.493-.085-.993-.085-1.5s.031-1.007.085-1.5H7.218zm14.281-6H7.218v3h12.774c.379-1.068.886-2.074 1.507-3m11.219-24h-21l-10.5 10.5v30c0 .828.672 1.5 1.5 1.5h21.533c-1.06-.855-1.989-1.865-2.75-2.999H4.218V14.201h9v-9h18v15.09c.493-.055.992-.089 1.5-.089.504 0 1.003.038 1.5.094V3.702c0-.828-.672-1.5-1.5-1.5m-25.5 21h17.034c1.175-.95 2.515-1.697 3.966-2.212v-.788h-21v3z"/><path d="M41.979 28.753l-8.257 10.249c-.345.429-.867.688-1.416.699-.015.001-.029.001-.043.001-.534 0-1.051-.232-1.404-.632l-4.796-5.413h.001l2.807-2.487 3.322 3.751 7.384-9.166c-1.84-1.59-4.237-2.554-6.859-2.554-5.8 0-10.5 4.701-10.5 10.5s4.7 10.5 10.5 10.5c5.799 0 10.5-4.701 10.5-10.5.001-1.789-.448-3.474-1.239-4.948"/></svg>
        <span>Step 2</span>
      </div>
      <div class="subtitle">Confirm Answers</div>
    </div>
    <div class="form-step">
      <div class="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="46" viewBox="0 0 44 46"><path d="M28.206 25.053H14.865l4.211 3h5.684s3.724-3.28 3.446-3M23.238 13.052h9v3h-9z"/><path d="M29.341 27.836l9.39 10.062c.565.605.533 1.555-.071 2.12-.29.27-.658.402-1.024.402-.4 0-.801-.159-1.096-.476l-9.57-10.253-2.286 1.787-.051.038c-.82.584-1.69 1.051-2.747 1.057-1.058-.006-1.928-.473-2.747-1.057l-.052-.038-2.287-1.787-9.57 10.253c-.295.316-.694.476-1.097.476-.367 0-.733-.133-1.022-.402-.605-.565-.639-1.516-.073-2.12l9.391-10.062L.885 17.247V39.67c0 2.486 2.016 4.5 4.5 4.5h33c2.485 0 4.5-2.014 4.5-4.5V17.247L29.341 27.836z"/><path d="M8.238 19.812v-6.761h9v-9h18v15.002h-24v3h21.209c2.568-2.102 4.303-3.354 5.791-4.569V2.553c0-.829-.672-1.5-1.5-1.5h-21l-10.5 10.5v5.837l3 2.422z"/></svg>
        <span>Step 3</span>
      </div>
      <div class="subtitle">Get your free shake</div>
    </div>
  </div>
  <div class="form-tabs">
    <div class="form-tab">
      <h2>With good energy, anything is possible. </h2>
      <p>Grab your free Premier Protein<sup>&reg;</sup> shake and enjoy all that the day brings!</p>
      <div class="form-wrap">
        <div class="form-row">
          <div class="form-item">
            <select class="" name="">
              <option value="">Choose a Flavor</option>
              <option value="Chocolate">1. Chocolate</option>
              <option value="Vanilla">2. Vanilla</option>
              <option value="Strawberry">3. Strawberry</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <input type="text" name="" value="" placeholder="First Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <input type="text" name="" value="" placeholder="Last Name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <input type="email" name="" value="" placeholder="Email">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <input type="text" name="" value="" placeholder="Street Address">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <input type="text" name="" value="" placeholder="City">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <select class="" name="">
              <option value="">State</option>
            </select>
          </div>
          <div class="form-item">
            <input type="text" name="" value="" placeholder="Zip Code">
          </div>
        </div>
        <div class="form-row">
          <div class="form-item checkbox-item">
            <input type="checkbox" name="checkbox" id="check1" value="">
            <div class="mark"></div>
            <label for="check1">Receive communications</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item form-button">
            <input type="submit" id="edit-submit" name="op" value="Submit" class="form-submit" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-tab">
      <h2>Mmm! Great choice.</h2>
      <p>Confirm your address below. We wouldn’t want all this energy falling into the wrong hands.</p>
      <div class="selection-wrap">
        <div class="selection">
        </div>
        <div class="recipient">
          <h3>YOUR SHAKE WILL BE SENT TO:</h3>
          <div class="recipient-details">
            <span class="first-name">Walter</span>&nbsp;<span class="last-name">Smith</span>
            <span class="email">wsmith@gmail.com</span>
            <span class="address">1234 Main Street Anytownville</span>, <span class="state">California</span>&nbsp;<span class="zip-code">90192</span>
          </div>
        </div>
      </div>
      <div class="form-wrap">
        <div class="form-row">
          <div class="form-item form-button">
            <input type="submit" id="edit-cancel" name="op" value="Cancel" class="form-submit" />
          </div>
          <div class="form-item form-button">
            <input type="submit" id="edit-submit" name="op" value="Submit" class="form-submit" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-tab">
      <h2>Order received!</h2>
      <h3>You’ve got 30 grams of sustainable energy headed your way. We hope you love it!</h3>
      <p>Share this offer with your friends so they can get their free shake, too.</p>
    </div>
  </div>
</form>
