<div id="header">
  <div class="section clearfix header header-form-step1">
    <div class="header-overlay">
      <div class="item item-left"><img src="/static/images/premier-protein-logo.svg"></div>
      <div class="item item-right"><img src="/static/images/tagline.svg"></div>
    </div>
  </div>
  <div class="section clearfix header header-form-step2">
    <div class="header-overlay">
      <div class="item item-center"><img src="/static/images/premier-protein-logo.svg"></div>
    </div>
  </div>
  <div class="section clearfix header header-form-step3">
    <div class="header-overlay">
      <div class="item item-right">
        <img src="/static/images/premier-protein-logo.svg">
        <img src="/static/images/product-stats.png">
      </div>
    </div>
  </div>
</div>
