.form
  .slick-slide
    outline 0

// ----------
// Form nav
// ----------

.form-nav
  // .slick-track
  //   transform none !important
  //   width 100% !important
  //
  //   .form-step
  //     width (100%/3) !important

  border-bottom 2px solid #dddcbe
  mgn(0,auto)
  max-width 554px

  &, .slick-track
    display flex
    justify-content space-between

  .slick-list, .slick-track
    overflow visible

  .slick-track
    transform none !important
    width 100% !important

    &::before, &::after
      content none

  .form-step
    border-bottom 2px solid $red
    cursor pointer
    margin 0 0 -2px
    pad(0,0,.5)
    width auto !important

    .title
      color $red
      font-size 19px
      font-weight $black
      text-transform uppercase

      svg
        display inline-block
        vertical-align bottom

      path
        fill $red

    .subtitle
      color $red
      font-weight $bold

    &:first-child
      .title
        img
          margin-right -.5em


// ----------
// Form Tabs
// ----------

.form-tabs
  mgn(0,auto)
  max-width 552px

.form-tab
  color #5f6062
  pad(1,1,4)

  h2, h3, p
    margin 9px 0
    text-align center

  h2, h3
    color $red
    font-size 19px
    line-height (20/19)

  h2
    font-weight $black

  h3
    font-weight $bold

  p
    font-size 15px
    line-height (20/15)

.form-wrap, .selection-wrap
  mgn(0,auto)
  max-width 274px


// ----------
// Form Tabs
// ----------

.selection-wrap
  .email
    display block
