// ----------
// Inputs
// ----------

$select-bg = #dde3c3
$input-border = #6d6e71
$placeholder = #58595b
$input-font = Arial, sans-serif

input, textarea, button, select, label
  appearance none
  border 0
  color $placeholder
  font 100% $input-font
  font-size 12px
  margin 0
  outline 0
  padding 0

label
  display block

.form-wrap
  mgn(0,auto)
  max-width 274px

.form-row
  @extend .cf
  display flex

.form-item
  width 100%

  + .form-item
    margin-left 16px

.form-button
  position relative

  button, [type=submit]
    cursor pointer
    height 42px
    line-height 42px
    padding-bottom 0
    padding-top 0
    transition background .15s ease

    &:hover, &:focus
      background darken($red,15%)

  &::before, &::after
    border 10px solid transparent
    height 0
    content ''
    position absolute
    top 8px
    width 0

  &::before
    border-bottom-width 0
    border-top-width 42px
    border-top-color $w
    left -10px

  &::after
    border-top-width 0
    border-bottom-width 42px
    border-bottom-color $w
    right -10px

input[type=text], input[type=email], input[type=checkbox], select
  border 1px solid $input-border
  border-radius 4px
  margin 8px 0

input[type=text], input[type=email], select
  display block
  width 100%

input[type=text], input[type=email]
  background none
  padding 8px 10px

  &::placeholder
    color $placeholder
    text-transform uppercase

select
  background $select-bg
  padding 2px 10px

  option
    color $placeholder
    font-weight bold
    text-transform uppercase

.checkbox-item
  align-items center
  display flex
  position relative

  label
    cursor pointer
    font-size 12px
    text-transform capitalize

input[type=checkbox]
  background $beige
  cursor pointer
  height 15px
  margin-right 7px
  width 15px

  + .mark
    border 3px solid $red
    border-radius 100%
    height 9px
    left 3px
    pointer-events none
    position absolute
    opacity 0
    top 11px
    width 9px
    z-index 10

  &:checked
    + .mark
      opacity 1

button, [type=submit]
  background $red
  color $w
  display block
  font-weight bold
  margin 8px 0
  padding 16px
  text-transform uppercase
  width 100%
