// ----------
// Top-level
// ----------

*, *::before, *::after
  box-sizing border-box

html, body
  background $beige
  min-height 100%
  width 100%

html
  font-size 100%
  text-size-adjust 100%

  +bp('mN')
    font-size ($p/16)*100%

  +bp('mM')
    font-size ($p/16)*100%

  +bp('mT')
    font-size ($p/16)*100%

  +bp('mD')
    font-size ($p/16)*100%

  +bp('D')
    font-size ($p/16)*100%

  +bp('T')
    font-size ($p/16)*100%

  +bp('M')
    font-size ($p/16)*100%

  +bp('N')
    font-size ($p/16)*100%

  +bp('r')
    font-size ($p/16)*100%

  +bp('p')
    font-size ($p/16)*100%

body
  color $blk
  font 100% $font
  font-weight $weight
  letter-spacing .02em
  line-height $let

a
  color inherit
  text-decoration none

img
  display block
  height auto
  max-width 100%

.cf
  *zoom 1

  &::before, &::after
    content ' '
    display block

  &::after
    clear both
