// ----------
// Footer
// ----------

.footer
  //


// ----------
// Footer Nav
// ----------

.social-footer
  background $beige

  .wrap
    padding-top 0
    padding-bottom 0

.social
  &-ul
    font-size 0
    text-align center

  &-li
    display inline-block
    margin 6px

// ----------
// Footer Nav
// ----------

.footer-nav
  background $red
  color $w

.fnav
  &-ul
    text-align center

  &-li
    display inline-block

    &::after
      content '     |   '
      display inline-block

    &:last-child
      &::after
        content none

  &-a
    font-size 12px
    font-weight $bold
    line-height (28/12)
    letter-spacing 0.02em
