// ----------
// Header
// ----------

.header
  background url('/static/images/header-bg.jpg') repeat-x center
  background-size 100% auto
  background-size cover
  height (288/$p)*1em
  overflow hidden

.header-form-step1
  background-image url('/static/images/header-step1.jpg')
  background-size auto 100%

.header-form-step2
  background-image url('/static/images/header-step2.jpg')

.header-form-step3
  background-image url('/static/images/header-step3.jpg')

  .header-overlay
    max-width ((1144/$p) + $gut)*1em

.header-overlay
  align-items center
  display flex
  height (288/$p)*1em
  justify-content space-between
  max-width ((960/$p) + $gut)*1em
  mgn(0,auto)
  pad(1,.5)
  width 100%

  .item
    img, svg
      display block
      height auto
      max-width 100%

    img + img
      margin-top 18px

  .item-left
    max-width 229px

  .item-center
    mgn(0,auto)
    max-width 211px

  .item-right
    margin-left auto
    max-width 211px
