// ----------
// index
// ----------

.form-tab
  &:first-child
    .form-item
      flex-shrink (109/274)

      + .form-item
        flex-shrink (165/274)
        padding-left 16px
        margin-left 0
