@font-face
	font-family 'Pangram'
	src url('/static/fonts/Pangram-Bold.eot')
	src url('/static/fonts/Pangram-Bold.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Pangram-Bold.woff2') format('woff2'),
		url('/static/fonts/Pangram-Bold.woff') format('woff'),
		url('/static/fonts/Pangram-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal

@font-face
	font-family 'Pangram'
	src url('/static/fonts/Pangram-Regular.eot')
	src url('/static/fonts/Pangram-Regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Pangram-Regular.woff2') format('woff2'),
		url('/static/fonts/Pangram-Regular.woff') format('woff'),
		url('/static/fonts/Pangram-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Pangram'
	src url('/static/fonts/Pangram-Black.eot')
	src url('/static/fonts/Pangram-Black.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Pangram-Black.woff2') format('woff2'),
		url('/static/fonts/Pangram-Black.woff') format('woff'),
		url('/static/fonts/Pangram-Black.ttf') format('truetype')
	font-weight 900
	font-style normal
