bodyClass: home
pageClass: index

{% extends "base.html" %}

{% block body %}
<section class="section">
  <div class="wrap">
    <div class="one-col">
      {% include 'partials/_form.html' %}
    </div>
  </div>
</section>
{% endblock %}
