<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="description" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" href="" />
	<meta property="og:title" content="">
  <meta property="og:image" content="">
	<meta property="og:description" content="">
  <title>Premier Protein</title>
  <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static '/css/ppsampling.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body class="loading">
{% include 'partials/_headers.html' %}
<main class="main">
  {% block body %}{% endblock %}
</main>
<footer class="footer">
  {% include 'partials/_footer.html' %}
</footer>
<script src="{% static '/js/ppsamplingLibs.js' %}"></script>
<script src="{% static '/js/ppsampling.js' %}"></script>
<script>
  Main.init();
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
